<a href="https://colab.research.google.com/github/aarushiramesh/Forecasting_Power/blob/main/OtherRegionsModelApplications.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pwd

'/content'

In [ ]:
ls

drive/  sample_data/

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df1 = pd.read_csv('drive/Shareddrives/Data Science Project/data/houston_weather/houston_dataframe.csv')

In [ ]:
df1

       Unnamed: 0  Year  Month  Day  PrecipitationTotalInches         COAST
0           96431  2013      5    2                       0.0   9077.609484
1           96432  2013      5    2                       0.0   9163.176395
2           96433  2013      5    2                       0.0   9575.827842
3           96434  2013      5    2                       0.0  10501.113872
4           96435  2013      5    2                       0.0   9919.688713
...           ...   ...    ...  ...                       ...           ...
35059      131490  2016      9    1                       0.0  10655.829593
35060      131491  2016      9    1                       0.0  11085.313576
35061      131492  2016      9    1                       0.0  11640.538835
35062      131493  2016      9    1                       0.0  12519.541100
35063      131494  2016      9    1                       0.0  10529.300544

[35064 rows x 6 columns]

In [ ]:
df1_clean = df1.drop(columns=['Unnamed: 0'])
df1_clean

       Year  Month  Day  PrecipitationTotalInches         COAST
0      2013      5    2                       0.0   9077.609484
1      2013      5    2                       0.0   9163.176395
2      2013      5    2                       0.0   9575.827842
3      2013      5    2                       0.0  10501.113872
4      2013      5    2                       0.0   9919.688713
...     ...    ...  ...                       ...           ...
35059  2016      9    1                       0.0  10655.829593
35060  2016      9    1                       0.0  11085.313576
35061  2016      9    1                       0.0  11640.538835
35062  2016      9    1                       0.0  12519.541100
35063  2016      9    1                       0.0  10529.300544

[35064 rows x 5 columns]

In [ ]:
# Re-arrange year column to match Austin df
year = df1_clean['Year']
df1_clean.drop(labels=['Year'], axis=1, inplace=True)
df1_clean.insert(2, 'Year', year)
df1_clean

       Month  Day  Year  PrecipitationTotalInches         COAST
0          5    2  2013                       0.0   9077.609484
1          5    2  2013                       0.0   9163.176395
2          5    2  2013                       0.0   9575.827842
3          5    2  2013                       0.0  10501.113872
4          5    2  2013                       0.0   9919.688713
...      ...  ...   ...                       ...           ...
35059      9    1  2016                       0.0  10655.829593
35060      9    1  2016                       0.0  11085.313576
35061      9    1  2016                       0.0  11640.538835
35062      9    1  2016                       0.0  12519.541100
35063      9    1  2016                       0.0  10529.300544

[35064 rows x 5 columns]

In [ ]:
df1_clean.isnull().sum()

Month                       0
Day                         0
Year                        0
PrecipitationTotalInches    0
COAST                       0
dtype: int64

In [ ]:
X = df1_clean.drop(['COAST'], axis=1)
y = df1_clean['COAST']

In [ ]:
cat_ft = ['Month', 'Day', 'Year']
num_ft = (list(X._get_numeric_data().columns))

In [ ]:
def prepend(list, str):  
    # Using format()
    str += '{0}'
    list = [str.format(i) for i in list]
    return(list)

In [ ]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# define example
data = X['Month']
values = array(data)

# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)

# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)

In [ ]:
months = pd.DataFrame(onehot_encoded)

In [ ]:
months.columns = (prepend(list(months.columns), 'month'))

In [ ]:
# OHE Days
data = X['Day']
values = array(data)

# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)

# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
days = pd.DataFrame(onehot_encoded)

In [ ]:
days.columns = (prepend(list(days.columns), 'day'))

In [ ]:
# OHE Year
data = X['Year']
values = array(data)

# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)

# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)

years = pd.DataFrame(onehot_encoded)

In [ ]:
renamed_years = (prepend(list(years.columns), 'year'))
years.columns = renamed_years

In [ ]:
X = pd.concat([X, months,], axis=1)
X = pd.concat([X, years,], axis=1)
X = pd.concat([X, days,], axis=1)

In [ ]:
X = X.drop(columns=['Month', 'Day', 'Year',])
X.head()

   PrecipitationTotalInches  month0  month1  month2  ...  day27  day28  day29  day30
0                       0.0     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0
1                       0.0     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0
2                       0.0     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0
3                       0.0     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0
4                       0.0     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0

[5 rows x 48 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/47/80/8e9c57ec32dfed6ba2922bc5c96462cbf8596ce1a6f5de532ad1e43e53fe/catboost-0.25.1-cp37-none-manylinux1_x86_64.whl (67.3MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 67.3MB 56kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Installing collected packages: catboost
Successfully installed catboost-0.25.1

In [ ]:
from catboost import CatBoostRegressor

model = CatBoostRegressor(iterations=200,
                          learning_rate=1,
                          depth=5)
# Fit model
model.fit(X_train, y_train)
# Get predictions
preds = model.predict(X_test)
print(model.score(X_test, y_test))

0:	learn: 1971.9738484	total: 3.57ms	remaining: 710ms
1:	learn: 1896.7123751	total: 8.26ms	remaining: 818ms
2:	learn: 1881.7483742	total: 11.7ms	remaining: 769ms
3:	learn: 1877.5880171	total: 15.2ms	remaining: 745ms
4:	learn: 1871.2803626	total: 18.5ms	remaining: 722ms
5:	learn: 1864.1661301	total: 22ms	remaining: 711ms
6:	learn: 1859.9438328	total: 25.3ms	remaining: 699ms
7:	learn: 1854.8803986	total: 28.7ms	remaining: 689ms
8:	learn: 1850.6988487	total: 32.1ms	remaining: 680ms
9:	learn: 1844.9445099	total: 35.4ms	remaining: 673ms
10:	learn: 1841.7943310	total: 38.7ms	remaining: 665ms
11:	learn: 1837.1448473	total: 42.1ms	remaining: 660ms
12:	learn: 1830.9815478	total: 45.6ms	remaining: 656ms
13:	learn: 1826.8048509	total: 49ms	remaining: 651ms
14:	learn: 1822.5936697	total: 52.3ms	remaining: 646ms
15:	learn: 1818.1917045	total: 55.6ms	remaining: 640ms
16:	learn: 1813.8210081	total: 60.9ms	remaining: 656ms
17:	learn: 1810.4386270	total: 65.2ms	remaining: 659ms
18:	learn: 1807.9512666	total: 76.2ms	remaining: 726ms
19:	learn: 1804.0132918	total: 80.3ms	remaining: 723ms
20:	learn: 1801.1296279	total: 84.6ms	remaining: 721ms
21:	learn: 1797.8473632	total: 88.5ms	remaining: 716ms
22:	learn: 1794.8036822	total: 92.1ms	remaining: 708ms
23:	learn: 1791.9070218	total: 95.5ms	remaining: 701ms
24:	learn: 1789.9014805	total: 99.2ms	remaining: 695ms
25:	learn: 1787.6840660	total: 103ms	remaining: 689ms
26:	learn: 1784.3558271	total: 107ms	remaining: 685ms
27:	learn: 1782.3667906	total: 111ms	remaining: 680ms
28:	learn: 1780.3179977	total: 114ms	remaining: 675ms
29:	learn: 1777.2895426	total: 120ms	remaining: 678ms
30:	learn: 1772.4647661	total: 126ms	remaining: 688ms
31:	learn: 1769.4495332	total: 131ms	remaining: 688ms
32:	learn: 1766.1738118	total: 136ms	remaining: 686ms
33:	learn: 1762.5886873	total: 139ms	remaining: 680ms
34:	learn: 1760.9643184	total: 143ms	remaining: 675ms
35:	learn: 1758.2830972	total: 147ms	remaining: 672ms
36:	learn: 1756.1360692	total: 151ms	remaining: 667ms
37:	learn: 1754.5491400	total: 155ms	remaining: 661ms
38:	learn: 1752.5158585	total: 159ms	remaining: 657ms
39:	learn: 1750.8756498	total: 163ms	remaining: 651ms
40:	learn: 1748.5573040	total: 166ms	remaining: 645ms
41:	learn: 1745.9235104	total: 171ms	remaining: 643ms
42:	learn: 1743.9015529	total: 175ms	remaining: 638ms
43:	learn: 1741.9051449	total: 178ms	remaining: 633ms
44:	learn: 1739.2459083	total: 186ms	remaining: 640ms
45:	learn: 1736.9278049	total: 194ms	remaining: 648ms
46:	learn: 1734.9359698	total: 200ms	remaining: 650ms
47:	learn: 1732.7192053	total: 204ms	remaining: 645ms
48:	learn: 1730.8546197	total: 208ms	remaining: 641ms
49:	learn: 1729.2567737	total: 212ms	remaining: 635ms
50:	learn: 1726.8355150	total: 215ms	remaining: 629ms
51:	learn: 1726.1034992	total: 219ms	remaining: 623ms
52:	learn: 1723.9809779	total: 223ms	remaining: 617ms
53:	learn: 1722.5741605	total: 226ms	remaining: 612ms
54:	learn: 1720.1565601	total: 230ms	remaining: 607ms
55:	learn: 1717.6212229	total: 234ms	remaining: 602ms
56:	learn: 1716.0007464	total: 238ms	remaining: 597ms
57:	learn: 1714.5640496	total: 242ms	remaining: 593ms
58:	learn: 1712.9604373	total: 246ms	remaining: 588ms
59:	learn: 1711.0274715	total: 249ms	remaining: 582ms
60:	learn: 1709.4915225	total: 253ms	remaining: 576ms
61:	learn: 1707.5585170	total: 257ms	remaining: 571ms
62:	learn: 1705.7734783	total: 261ms	remaining: 568ms
63:	learn: 1704.5533056	total: 265ms	remaining: 564ms
64:	learn: 1703.2522396	total: 269ms	remaining: 558ms
65:	learn: 1701.8415175	total: 273ms	remaining: 554ms
66:	learn: 1700.4192941	total: 276ms	remaining: 549ms
67:	learn: 1699.8066413	total: 280ms	remaining: 544ms
68:	learn: 1697.7470238	total: 284ms	remaining: 539ms
69:	learn: 1696.8370203	total: 288ms	remaining: 535ms
70:	learn: 1695.2721508	total: 292ms	remaining: 530ms
71:	learn: 1693.7955523	total: 295ms	remaining: 525ms
72:	learn: 1691.7734678	total: 299ms	remaining: 520ms
73:	learn: 1690.9784909	total: 302ms	remaining: 515ms
74:	learn: 1689.4596997	total: 306ms	remaining: 510ms
75:	learn: 1688.5374462	total: 310ms	remaining: 505ms
76:	learn: 1687.6550068	total: 313ms	remaining: 500ms
77:	learn: 1686.5801975	total: 317ms	remaining: 495ms
78:	learn: 1685.5818963	total: 321ms	remaining: 492ms
79:	learn: 1684.5229305	total: 325ms	remaining: 487ms
80:	learn: 1683.6646782	total: 329ms	remaining: 483ms
81:	learn: 1682.6809728	total: 332ms	remaining: 478ms
82:	learn: 1682.1708255	total: 336ms	remaining: 473ms
83:	learn: 1680.9527549	total: 339ms	remaining: 468ms
84:	learn: 1680.1779292	total: 343ms	remaining: 464ms
85:	learn: 1679.2389955	total: 346ms	remaining: 459ms
86:	learn: 1677.7952419	total: 350ms	remaining: 454ms
87:	learn: 1677.3834858	total: 353ms	remaining: 450ms
88:	learn: 1675.9653477	total: 357ms	remaining: 445ms
89:	learn: 1675.4803589	total: 361ms	remaining: 441ms
90:	learn: 1674.5643409	total: 364ms	remaining: 436ms
91:	learn: 1673.8748552	total: 368ms	remaining: 432ms
92:	learn: 1673.0461519	total: 371ms	remaining: 427ms
93:	learn: 1672.4064784	total: 375ms	remaining: 423ms
94:	learn: 1671.2652198	total: 379ms	remaining: 418ms
95:	learn: 1670.4807763	total: 382ms	remaining: 414ms
96:	learn: 1669.2579795	total: 392ms	remaining: 417ms
97:	learn: 1668.2232705	total: 396ms	remaining: 412ms
98:	learn: 1667.5842031	total: 399ms	remaining: 407ms
99:	learn: 1666.9736407	total: 403ms	remaining: 403ms
100:	learn: 1666.0512605	total: 406ms	remaining: 398ms
101:	learn: 1665.3888872	total: 409ms	remaining: 393ms
102:	learn: 1664.5384629	total: 413ms	remaining: 389ms
103:	learn: 1663.6579311	total: 416ms	remaining: 384ms
104:	learn: 1662.6457314	total: 420ms	remaining: 380ms
105:	learn: 1662.1689970	total: 423ms	remaining: 375ms
106:	learn: 1661.4673028	total: 426ms	remaining: 371ms
107:	learn: 1660.9874944	total: 431ms	remaining: 367ms
108:	learn: 1659.9592543	total: 435ms	remaining: 363ms
109:	learn: 1658.9307684	total: 440ms	remaining: 360ms
110:	learn: 1658.5676304	total: 444ms	remaining: 356ms
111:	learn: 1657.6215803	total: 448ms	remaining: 352ms
112:	learn: 1657.0360951	total: 452ms	remaining: 348ms
113:	learn: 1656.0077994	total: 455ms	remaining: 343ms
114:	learn: 1655.4668383	total: 459ms	remaining: 339ms
115:	learn: 1654.5535758	total: 462ms	remaining: 335ms
116:	learn: 1653.9718473	total: 466ms	remaining: 330ms
117:	learn: 1653.0662405	total: 469ms	remaining: 326ms
118:	learn: 1652.5324082	total: 473ms	remaining: 322ms
119:	learn: 1652.1320747	total: 477ms	remaining: 318ms
120:	learn: 1651.2934657	total: 481ms	remaining: 314ms
121:	learn: 1650.3075759	total: 484ms	remaining: 309ms
122:	learn: 1649.6745341	total: 488ms	remaining: 305ms
123:	learn: 1649.2148725	total: 491ms	remaining: 301ms
124:	learn: 1648.7040030	total: 495ms	remaining: 297ms
125:	learn: 1648.1197066	total: 499ms	remaining: 293ms
126:	learn: 1647.8064403	total: 503ms	remaining: 289ms
127:	learn: 1647.0499054	total: 506ms	remaining: 285ms
128:	learn: 1646.5552742	total: 510ms	remaining: 280ms
129:	learn: 1646.1906086	total: 513ms	remaining: 276ms
130:	learn: 1645.6763520	total: 517ms	remaining: 272ms
131:	learn: 1645.2370331	total: 520ms	remaining: 268ms
132:	learn: 1644.6971238	total: 524ms	remaining: 264ms
133:	learn: 1644.0268733	total: 527ms	remaining: 260ms
134:	learn: 1643.5116641	total: 531ms	remaining: 256ms
135:	learn: 1642.8121785	total: 534ms	remaining: 251ms
136:	learn: 1642.5679787	total: 538ms	remaining: 247ms
137:	learn: 1642.3458716	total: 541ms	remaining: 243ms
138:	learn: 1641.7207992	total: 544ms	remaining: 239ms
139:	learn: 1641.3783483	total: 548ms	remaining: 235ms
140:	learn: 1640.8844626	total: 552ms	remaining: 231ms
141:	learn: 1640.3770467	total: 555ms	remaining: 227ms
142:	learn: 1640.1356343	total: 559ms	remaining: 223ms
143:	learn: 1639.7956320	total: 563ms	remaining: 219ms
144:	learn: 1639.4814543	total: 566ms	remaining: 215ms
145:	learn: 1639.0142215	total: 570ms	remaining: 211ms
146:	learn: 1638.3367381	total: 573ms	remaining: 207ms
147:	learn: 1638.1254823	total: 577ms	remaining: 203ms
148:	learn: 1637.8204249	total: 585ms	remaining: 200ms
149:	learn: 1637.4675780	total: 589ms	remaining: 196ms
150:	learn: 1637.1463712	total: 593ms	remaining: 192ms
151:	learn: 1636.8271401	total: 596ms	remaining: 188ms
152:	learn: 1636.4903977	total: 600ms	remaining: 184ms
153:	learn: 1636.2074681	total: 603ms	remaining: 180ms
154:	learn: 1635.8597190	total: 607ms	remaining: 176ms
155:	learn: 1635.4782386	total: 610ms	remaining: 172ms
156:	learn: 1635.1923963	total: 614ms	remaining: 168ms
157:	learn: 1634.6018544	total: 617ms	remaining: 164ms
158:	learn: 1634.1925159	total: 621ms	remaining: 160ms
159:	learn: 1633.8827764	total: 625ms	remaining: 156ms
160:	learn: 1633.6516093	total: 628ms	remaining: 152ms
161:	learn: 1633.1508799	total: 634ms	remaining: 149ms
162:	learn: 1633.0436167	total: 641ms	remaining: 146ms
163:	learn: 1632.6892456	total: 644ms	remaining: 141ms
164:	learn: 1632.4601485	total: 648ms	remaining: 137ms
165:	learn: 1631.9509831	total: 652ms	remaining: 133ms
166:	learn: 1631.8196773	total: 655ms	remaining: 129ms
167:	learn: 1631.7519762	total: 659ms	remaining: 125ms
168:	learn: 1631.4660773	total: 664ms	remaining: 122ms
169:	learn: 1631.1279132	total: 670ms	remaining: 118ms
170:	learn: 1630.8087093	total: 674ms	remaining: 114ms
171:	learn: 1630.7304152	total: 677ms	remaining: 110ms
172:	learn: 1630.3925642	total: 681ms	remaining: 106ms
173:	learn: 1630.2916037	total: 685ms	remaining: 102ms
174:	learn: 1629.8851228	total: 689ms	remaining: 98.4ms
175:	learn: 1629.6717000	total: 693ms	remaining: 94.4ms
176:	learn: 1629.5095979	total: 696ms	remaining: 90.5ms
177:	learn: 1629.3263405	total: 700ms	remaining: 86.5ms
178:	learn: 1629.0397638	total: 703ms	remaining: 82.5ms
179:	learn: 1628.8533345	total: 708ms	remaining: 78.7ms
180:	learn: 1628.7231503	total: 713ms	remaining: 74.8ms
181:	learn: 1628.5881287	total: 719ms	remaining: 71.1ms
182:	learn: 1628.3467612	total: 730ms	remaining: 67.8ms
183:	learn: 1628.0371689	total: 736ms	remaining: 64ms
184:	learn: 1627.9169722	total: 740ms	remaining: 60ms
185:	learn: 1627.7752358	total: 744ms	remaining: 56ms
186:	learn: 1627.5290163	total: 747ms	remaining: 51.9ms
187:	learn: 1627.3265264	total: 751ms	remaining: 47.9ms
188:	learn: 1627.0635884	total: 754ms	remaining: 43.9ms
189:	learn: 1626.9224817	total: 758ms	remaining: 39.9ms
190:	learn: 1626.7041400	total: 762ms	remaining: 35.9ms
191:	learn: 1626.5286412	total: 766ms	remaining: 31.9ms
192:	learn: 1626.4071549	total: 769ms	remaining: 27.9ms
193:	learn: 1626.2112960	total: 777ms	remaining: 24ms
194:	learn: 1626.0347522	total: 782ms	remaining: 20ms
195:	learn: 1625.9967568	total: 786ms	remaining: 16ms
196:	learn: 1625.8760007	total: 789ms	remaining: 12ms
197:	learn: 1625.6925384	total: 792ms	remaining: 8ms
198:	learn: 1625.5576016	total: 796ms	remaining: 4ms
199:	learn: 1625.4628379	total: 799ms	remaining: 0us
0.529517408165971

In [ ]:
preds[314]

11997.143813816647

       PrecipitationTotalInches
0                           0.0
1                           0.0
2                           0.0
3                           0.0
4                           0.0
...                         ...
35059                       0.0
35060                       0.0
35061                       0.0
35062                       0.0
35063                       0.0

[35064 rows x 1 columns]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr = RandomForestRegressor(max_depth=20, random_state=42, n_estimators=110)
regr.fit(X_train, y_train)

y_pred = regr.predict(X_test)

In [ ]:
regr.score(X_test, y_test)

0.5224912766573142

In [ ]:
y_pred[314]

11293.35317796747

In [ ]:
import lightgbm as lgb
gbm = lgb.LGBMRegressor(num_leaves = 20, max_depth=5)
gbm.fit(X_train, y_train)

y_pred = gbm.predict(X_test)

In [ ]:
gbm.score(X_test, y_test)

0.47802659274664666

In [ ]:
y_pred[314]

11390.11647760227

In [ ]:
df2 = pd.read_csv('drive/Shareddrives/Data Science Project/data/dallas_dataframe.csv')

In [ ]:
df2

       Unnamed: 0  Year  Month  Day  PrecipitationTotalInches         NCENT
0               0  2002     12   31                      0.01   7311.082400
1               1  2002      5    1                      0.99  11639.263205
2               2  2002      5    1                      0.00  12100.144180
3               3  2002      5    1                      0.00  12849.761626
4               4  2002      5    1                      0.00  13855.505612
...           ...   ...    ...  ...                       ...           ...
75460       75460  2010      3   12                      0.00  11895.648356
75461       75461  2010      3   12                      0.00  10216.300377
75462       75462  2010      3   12                      0.00   9209.659571
75463       75463  2010      3   12                      0.00   8816.409554
75464       75464  2010      3   12                      0.00   8673.315666

[75465 rows x 6 columns]

In [ ]:
df2_clean = df2.drop(columns=['Unnamed: 0'])
df2_clean

       Year  Month  Day  PrecipitationTotalInches         NCENT
0      2002     12   31                      0.01   7311.082400
1      2002      5    1                      0.99  11639.263205
2      2002      5    1                      0.00  12100.144180
3      2002      5    1                      0.00  12849.761626
4      2002      5    1                      0.00  13855.505612
...     ...    ...  ...                       ...           ...
75460  2010      3   12                      0.00  11895.648356
75461  2010      3   12                      0.00  10216.300377
75462  2010      3   12                      0.00   9209.659571
75463  2010      3   12                      0.00   8816.409554
75464  2010      3   12                      0.00   8673.315666

[75465 rows x 5 columns]

In [ ]:
year = df2_clean['Year']
df2_clean.drop(labels=['Year'], axis=1, inplace=True)
df2_clean.insert(2, 'Year', year)
df2_clean

       Month  Day  Year  PrecipitationTotalInches         NCENT
0         12   31  2002                      0.01   7311.082400
1          5    1  2002                      0.99  11639.263205
2          5    1  2002                      0.00  12100.144180
3          5    1  2002                      0.00  12849.761626
4          5    1  2002                      0.00  13855.505612
...      ...  ...   ...                       ...           ...
75460      3   12  2010                      0.00  11895.648356
75461      3   12  2010                      0.00  10216.300377
75462      3   12  2010                      0.00   9209.659571
75463      3   12  2010                      0.00   8816.409554
75464      3   12  2010                      0.00   8673.315666

[75465 rows x 5 columns]

In [ ]:
df2_clean.isnull().sum()

Month                       0
Day                         0
Year                        0
PrecipitationTotalInches    0
NCENT                       0
dtype: int64

In [ ]:
X = df2_clean.drop(['NCENT'], axis=1)
y = df2_clean['NCENT']

In [ ]:
cat_ft = ['Month', 'Day', 'Year']
num_ft = (list(X._get_numeric_data().columns))

In [ ]:
def prepend(list, str):  
    # Using format()
    str += '{0}'
    list = [str.format(i) for i in list]
    return(list)

In [ ]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# define example
data = X['Month']
values = array(data)

# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)

# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)

In [ ]:
months = pd.DataFrame(onehot_encoded)

In [ ]:
months.columns = (prepend(list(months.columns), 'month'))

In [ ]:
# OHE Days
data = X['Day']
values = array(data)

# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)

# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
days = pd.DataFrame(onehot_encoded)

In [ ]:
days.columns = (prepend(list(days.columns), 'day'))

In [ ]:
# OHE Year
data = X['Year']
values = array(data)

# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(values)

# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)

years = pd.DataFrame(onehot_encoded)

In [ ]:
renamed_years = (prepend(list(years.columns), 'year'))
years.columns = renamed_years

In [ ]:
X = pd.concat([X, months,], axis=1)
X = pd.concat([X, years,], axis=1)
X = pd.concat([X, days,], axis=1)

In [ ]:
X = X.drop(columns=['Month', 'Day', 'Year',])
X.head()

   PrecipitationTotalInches  month0  month1  month2  ...  day27  day28  day29  day30
0                      0.01     0.0     0.0     0.0  ...    0.0    0.0    0.0    1.0
1                      0.99     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0
2                      0.00     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0
3                      0.00     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0
4                      0.00     0.0     0.0     0.0  ...    0.0    0.0    0.0    0.0

[5 rows x 53 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
model1 = CatBoostRegressor(iterations=200,
                          learning_rate=1,
                          depth=5)
# Fit model
model1.fit(X_train, y_train)
# Get predictions
preds = model1.predict(X_test)
print(model1.score(X_test, y_test))

0:	learn: 2576.8381593	total: 8.09ms	remaining: 1.61s
1:	learn: 2525.2469158	total: 15.4ms	remaining: 1.52s
2:	learn: 2500.5868558	total: 22.1ms	remaining: 1.45s
3:	learn: 2482.8751606	total: 28.8ms	remaining: 1.41s
4:	learn: 2469.7219050	total: 35.8ms	remaining: 1.4s
5:	learn: 2461.2711457	total: 48.3ms	remaining: 1.56s
6:	learn: 2456.8645811	total: 60.1ms	remaining: 1.66s
7:	learn: 2445.7321433	total: 67.3ms	remaining: 1.61s
8:	learn: 2437.9189997	total: 74.1ms	remaining: 1.57s
9:	learn: 2434.0664866	total: 80.9ms	remaining: 1.54s
10:	learn: 2431.5361794	total: 87.7ms	remaining: 1.51s
11:	learn: 2427.4094307	total: 94.3ms	remaining: 1.48s
12:	learn: 2420.9189260	total: 101ms	remaining: 1.46s
13:	learn: 2417.2544856	total: 114ms	remaining: 1.52s
14:	learn: 2413.7245271	total: 122ms	remaining: 1.5s
15:	learn: 2408.4259619	total: 129ms	remaining: 1.49s
16:	learn: 2404.2743771	total: 137ms	remaining: 1.47s
17:	learn: 2399.9358572	total: 144ms	remaining: 1.46s
18:	learn: 2398.2969188	total: 151ms	remaining: 1.44s
19:	learn: 2395.9994810	total: 158ms	remaining: 1.43s
20:	learn: 2393.2970340	total: 166ms	remaining: 1.41s
21:	learn: 2390.8959446	total: 172ms	remaining: 1.39s
22:	learn: 2386.3558574	total: 181ms	remaining: 1.39s
23:	learn: 2382.3852993	total: 194ms	remaining: 1.42s
24:	learn: 2379.2036643	total: 201ms	remaining: 1.41s
25:	learn: 2377.1156019	total: 217ms	remaining: 1.45s
26:	learn: 2375.7737284	total: 225ms	remaining: 1.44s
27:	learn: 2372.9671928	total: 232ms	remaining: 1.42s
28:	learn: 2370.6654671	total: 239ms	remaining: 1.41s
29:	learn: 2366.3421503	total: 246ms	remaining: 1.39s
30:	learn: 2364.9450475	total: 253ms	remaining: 1.38s
31:	learn: 2363.5831215	total: 260ms	remaining: 1.36s
32:	learn: 2361.3388078	total: 268ms	remaining: 1.35s
33:	learn: 2359.2780761	total: 276ms	remaining: 1.34s
34:	learn: 2357.1085259	total: 282ms	remaining: 1.33s
35:	learn: 2355.6427987	total: 289ms	remaining: 1.32s
36:	learn: 2353.7617890	total: 296ms	remaining: 1.3s
37:	learn: 2349.9896907	total: 302ms	remaining: 1.29s
38:	learn: 2347.8510564	total: 310ms	remaining: 1.28s
39:	learn: 2346.9003260	total: 316ms	remaining: 1.26s
40:	learn: 2344.9045800	total: 323ms	remaining: 1.25s
41:	learn: 2343.1662423	total: 330ms	remaining: 1.24s
42:	learn: 2342.1636203	total: 336ms	remaining: 1.23s
43:	learn: 2341.1441869	total: 343ms	remaining: 1.22s
44:	learn: 2339.3029186	total: 350ms	remaining: 1.2s
45:	learn: 2338.3308032	total: 356ms	remaining: 1.19s
46:	learn: 2337.5757369	total: 363ms	remaining: 1.18s
47:	learn: 2335.7565944	total: 369ms	remaining: 1.17s
48:	learn: 2334.5079254	total: 376ms	remaining: 1.16s
49:	learn: 2331.9673013	total: 383ms	remaining: 1.15s
50:	learn: 2329.2895653	total: 389ms	remaining: 1.14s
51:	learn: 2328.3940273	total: 396ms	remaining: 1.13s
52:	learn: 2326.5356741	total: 403ms	remaining: 1.12s
53:	learn: 2324.8237531	total: 415ms	remaining: 1.12s
54:	learn: 2323.1160407	total: 426ms	remaining: 1.12s
55:	learn: 2321.5701116	total: 438ms	remaining: 1.13s
56:	learn: 2320.2278577	total: 445ms	remaining: 1.11s
57:	learn: 2319.1024725	total: 451ms	remaining: 1.1s
58:	learn: 2318.0195757	total: 458ms	remaining: 1.09s
59:	learn: 2316.1166493	total: 466ms	remaining: 1.09s
60:	learn: 2315.3338379	total: 478ms	remaining: 1.09s
61:	learn: 2314.4985851	total: 486ms	remaining: 1.08s
62:	learn: 2313.4802170	total: 493ms	remaining: 1.07s
63:	learn: 2311.0362864	total: 500ms	remaining: 1.06s
64:	learn: 2309.7519134	total: 507ms	remaining: 1.05s
65:	learn: 2308.8812658	total: 515ms	remaining: 1.04s
66:	learn: 2307.6867970	total: 529ms	remaining: 1.05s
67:	learn: 2306.0732021	total: 536ms	remaining: 1.04s
68:	learn: 2305.0173797	total: 542ms	remaining: 1.03s
69:	learn: 2304.0428216	total: 549ms	remaining: 1.02s
70:	learn: 2302.8421225	total: 556ms	remaining: 1.01s
71:	learn: 2302.1507770	total: 563ms	remaining: 1s
72:	learn: 2300.7478934	total: 571ms	remaining: 993ms
73:	learn: 2300.3884576	total: 577ms	remaining: 983ms
74:	learn: 2299.7928618	total: 586ms	remaining: 976ms
75:	learn: 2298.2712395	total: 593ms	remaining: 967ms
76:	learn: 2297.1858650	total: 600ms	remaining: 959ms
77:	learn: 2295.3521135	total: 607ms	remaining: 950ms
78:	learn: 2294.3047312	total: 619ms	remaining: 948ms
79:	learn: 2292.8417455	total: 626ms	remaining: 939ms
80:	learn: 2291.9442165	total: 633ms	remaining: 930ms
81:	learn: 2290.8194595	total: 640ms	remaining: 921ms
82:	learn: 2289.9916313	total: 647ms	remaining: 912ms
83:	learn: 2288.8550293	total: 654ms	remaining: 903ms
84:	learn: 2288.0015450	total: 660ms	remaining: 893ms
85:	learn: 2286.8016164	total: 668ms	remaining: 886ms
86:	learn: 2285.6734221	total: 678ms	remaining: 880ms
87:	learn: 2284.0678084	total: 685ms	remaining: 871ms
88:	learn: 2282.9130585	total: 691ms	remaining: 862ms
89:	learn: 2282.0456549	total: 698ms	remaining: 853ms
90:	learn: 2281.1961017	total: 705ms	remaining: 844ms
91:	learn: 2280.1547841	total: 711ms	remaining: 835ms
92:	learn: 2278.9619729	total: 718ms	remaining: 826ms
93:	learn: 2276.9781924	total: 725ms	remaining: 817ms
94:	learn: 2275.5879546	total: 732ms	remaining: 809ms
95:	learn: 2274.8974998	total: 739ms	remaining: 800ms
96:	learn: 2273.2571377	total: 745ms	remaining: 791ms
97:	learn: 2272.6119847	total: 757ms	remaining: 788ms
98:	learn: 2271.3787750	total: 764ms	remaining: 779ms
99:	learn: 2270.2140925	total: 770ms	remaining: 770ms
100:	learn: 2268.5672663	total: 777ms	remaining: 761ms
101:	learn: 2266.8640661	total: 783ms	remaining: 753ms
102:	learn: 2265.3674879	total: 790ms	remaining: 744ms
103:	learn: 2264.4981981	total: 796ms	remaining: 735ms
104:	learn: 2263.8755083	total: 805ms	remaining: 728ms
105:	learn: 2262.4357274	total: 816ms	remaining: 724ms
106:	learn: 2261.0178822	total: 823ms	remaining: 715ms
107:	learn: 2260.2775191	total: 830ms	remaining: 707ms
108:	learn: 2259.3867657	total: 836ms	remaining: 698ms
109:	learn: 2258.3178174	total: 843ms	remaining: 690ms
110:	learn: 2257.6604128	total: 849ms	remaining: 681ms
111:	learn: 2256.5014882	total: 856ms	remaining: 672ms
112:	learn: 2256.0567025	total: 862ms	remaining: 664ms
113:	learn: 2255.2498611	total: 871ms	remaining: 657ms
114:	learn: 2253.6553465	total: 879ms	remaining: 650ms
115:	learn: 2253.1103531	total: 886ms	remaining: 641ms
116:	learn: 2251.2377394	total: 893ms	remaining: 633ms
117:	learn: 2250.0600856	total: 899ms	remaining: 625ms
118:	learn: 2249.4442623	total: 906ms	remaining: 617ms
119:	learn: 2248.6086998	total: 913ms	remaining: 609ms
120:	learn: 2248.0833140	total: 920ms	remaining: 600ms
121:	learn: 2247.0495353	total: 927ms	remaining: 592ms
122:	learn: 2246.6224075	total: 933ms	remaining: 584ms
123:	learn: 2245.4901732	total: 940ms	remaining: 576ms
124:	learn: 2244.9335802	total: 946ms	remaining: 568ms
125:	learn: 2244.3024527	total: 953ms	remaining: 560ms
126:	learn: 2242.9265463	total: 960ms	remaining: 552ms
127:	learn: 2241.7964530	total: 966ms	remaining: 544ms
128:	learn: 2240.8889444	total: 973ms	remaining: 536ms
129:	learn: 2239.1563217	total: 980ms	remaining: 528ms
130:	learn: 2238.0669548	total: 986ms	remaining: 519ms
131:	learn: 2237.9281263	total: 992ms	remaining: 511ms
132:	learn: 2236.8808749	total: 1s	remaining: 505ms
133:	learn: 2236.0166901	total: 1.01s	remaining: 500ms
134:	learn: 2235.2078454	total: 1.03s	remaining: 496ms
135:	learn: 2234.3424473	total: 1.04s	remaining: 488ms
136:	learn: 2233.3110823	total: 1.04s	remaining: 480ms
137:	learn: 2232.2400685	total: 1.05s	remaining: 472ms
138:	learn: 2231.7506538	total: 1.06s	remaining: 464ms
139:	learn: 2231.2474531	total: 1.06s	remaining: 456ms
140:	learn: 2230.3120287	total: 1.07s	remaining: 449ms
141:	learn: 2230.0566440	total: 1.08s	remaining: 442ms
142:	learn: 2228.5932010	total: 1.09s	remaining: 434ms
143:	learn: 2227.5654593	total: 1.09s	remaining: 426ms
144:	learn: 2227.3306499	total: 1.1s	remaining: 418ms
145:	learn: 2226.9279889	total: 1.11s	remaining: 410ms
146:	learn: 2225.8433999	total: 1.11s	remaining: 402ms
147:	learn: 2225.3774641	total: 1.12s	remaining: 394ms
148:	learn: 2223.8099049	total: 1.13s	remaining: 386ms
149:	learn: 2223.6370455	total: 1.13s	remaining: 378ms
150:	learn: 2222.8062992	total: 1.14s	remaining: 370ms
151:	learn: 2221.4419255	total: 1.15s	remaining: 362ms
152:	learn: 2220.7865456	total: 1.15s	remaining: 355ms
153:	learn: 2220.1059010	total: 1.16s	remaining: 347ms
154:	learn: 2219.8836351	total: 1.17s	remaining: 339ms
155:	learn: 2218.7262584	total: 1.17s	remaining: 331ms
156:	learn: 2217.1968640	total: 1.18s	remaining: 324ms
157:	learn: 2216.4792831	total: 1.19s	remaining: 316ms
158:	learn: 2216.2564926	total: 1.19s	remaining: 308ms
159:	learn: 2215.8941089	total: 1.21s	remaining: 302ms
160:	learn: 2215.4153893	total: 1.21s	remaining: 294ms
161:	learn: 2215.0338723	total: 1.22s	remaining: 286ms
162:	learn: 2214.2754686	total: 1.23s	remaining: 279ms
163:	learn: 2213.5525670	total: 1.23s	remaining: 271ms
164:	learn: 2213.0188328	total: 1.24s	remaining: 263ms
165:	learn: 2212.1767470	total: 1.25s	remaining: 256ms
166:	learn: 2211.2117307	total: 1.25s	remaining: 248ms
167:	learn: 2210.9528951	total: 1.26s	remaining: 240ms
168:	learn: 2209.8693175	total: 1.27s	remaining: 233ms
169:	learn: 2209.0521478	total: 1.28s	remaining: 225ms
170:	learn: 2208.1309203	total: 1.28s	remaining: 218ms
171:	learn: 2207.4545656	total: 1.29s	remaining: 210ms
172:	learn: 2206.7666951	total: 1.3s	remaining: 202ms
173:	learn: 2206.1138238	total: 1.3s	remaining: 195ms
174:	learn: 2205.0588763	total: 1.31s	remaining: 188ms
175:	learn: 2204.5103905	total: 1.32s	remaining: 181ms
176:	learn: 2203.7035491	total: 1.33s	remaining: 173ms
177:	learn: 2203.1028571	total: 1.34s	remaining: 165ms
178:	learn: 2202.3503911	total: 1.34s	remaining: 158ms
179:	learn: 2201.8054509	total: 1.35s	remaining: 150ms
180:	learn: 2201.3602247	total: 1.36s	remaining: 143ms
181:	learn: 2200.7954021	total: 1.37s	remaining: 136ms
182:	learn: 2199.6932081	total: 1.38s	remaining: 128ms
183:	learn: 2199.0845459	total: 1.38s	remaining: 120ms
184:	learn: 2197.8873554	total: 1.39s	remaining: 113ms
185:	learn: 2197.1919753	total: 1.4s	remaining: 105ms
186:	learn: 2196.9588893	total: 1.41s	remaining: 97.8ms
187:	learn: 2196.1326119	total: 1.41s	remaining: 90.2ms
188:	learn: 2195.2068485	total: 1.42s	remaining: 82.7ms
189:	learn: 2194.9680015	total: 1.43s	remaining: 75.1ms
190:	learn: 2194.8404217	total: 1.43s	remaining: 67.5ms
191:	learn: 2194.1298963	total: 1.44s	remaining: 60ms
192:	learn: 2193.6913754	total: 1.45s	remaining: 52.6ms
193:	learn: 2192.8013657	total: 1.46s	remaining: 45.2ms
194:	learn: 2192.3985379	total: 1.47s	remaining: 37.6ms
195:	learn: 2191.7376143	total: 1.48s	remaining: 30.2ms
196:	learn: 2191.3516152	total: 1.49s	remaining: 22.7ms
197:	learn: 2191.1395662	total: 1.5s	remaining: 15.1ms
198:	learn: 2190.6409028	total: 1.5s	remaining: 7.55ms
199:	learn: 2190.0845582	total: 1.51s	remaining: 0us
0.46252931748267434

In [ ]:
preds[314]

13228.475277279735

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

regr1 = RandomForestRegressor(max_depth=20, random_state=42, n_estimators=110)
regr1.fit(X_train, y_train)

y_pred = regr1.predict(X_test)

In [ ]:
regr1.score(X_test, y_test)

0.4792853407145462

In [ ]:
y_pred[314]

13158.036661342832

In [ ]:
import lightgbm as lgb
gbm1 = lgb.LGBMRegressor(num_leaves = 20, max_depth=5)
gbm1.fit(X_train, y_train)

y_pred = gbm1.predict(X_test)

In [ ]:
gbm1.score(X_test, y_test)

0.4212775809759728

In [ ]:
y_pred[314]

13557.340146190167